body {margin: 0;
      padding: 0;
      font-family: 'oswald' sans-serif;}


nav ul {
list-style: none;
background-color: #4a4afa;
text-align: center;
margin: 10px;
padding: 10px;
}

nav li {
font-size: 1.2em;
line-height: 80px;
height: 80px;
display: inline-block;
margin: 2.5%;

}

nav a {
text-decoration: none;
color: #fff;
display: block;
}

nav a:hover {
background-color: #4afae2;
color: #f10aa4;

}

.card {
float: left;
width: 20%;
margin-left: 10%;
}

.card a {
text-align: center;
}

img {
width: 70%;
height: 180px;
margin-left: 0px;

}

h1 {

    text-align: center;
}


